.social-networks{
    background-color: 
    #2E86C1;
    height:35px;
    ;
  
    
}

/* .cabecera{
    position: fixed;
} */

.iconos{
    display: flex;
    justify-content: flex-end;
    width:100%;
    height:100%;
    align-items:center;
    padding-right: 100px;
}

.iconos a{
    margin:2px 2px;
    padding:2px 2px;
}